.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.customButton {
  background-color: #1890ff;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  margin-left: 10px;
}
.customButton:hover {
  background-color: #6abcff;
  color: #fff;
}
.floatPost {
  position: fixed;
	width: 160px;
	height: 60px;
	bottom: 10px;
	left: 10px;
	background-color: #1890ff;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	z-index: 9999;
	margin: 10px;
}
.postItem {
  background-color: white;
  margin: auto;
  margin-top: 24px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.postItem-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}